@import url("https://fonts.googleapis.com/css?family=Muli");

.container {
  background-color: "#F7F8FC";
  padding: 30;
  height: 100vh;
  min-width: 850px;
}

.main-block {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin: auto;
  flex: 1 0 auto;
}

.block-list {
  align-items: flex-end;
}
